@media only screen and (min-width: 768px) {
    .body {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column;
      height: 100%;
    }
    .content {
      width: 500px;
      align-self: center;
    }
  }
  