.products_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media only screen and (min-width: 768px) {
  .products_list {
    grid-template-columns: repeat(4, 1fr);
  }
}